@global-font: Arial, Helvetica, sans-serif !important;
@global-size: 12px !important;

@images: "../img/";
@images-parcours: "../img/parcours/";

.cls-overflow-hidden {
  overflow: hidden;
}

.body {
  font-family: @global-font;
  font-size: @global-size;
}