.cls-overflow-hidden {
  overflow: hidden;
}
.body {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
  font-size: 12px !important;
}
body {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
  font-size: 12px !important;
}
a:link,
a:visited {
  color: #013C53;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
  font-size: 12px !important;
  padding: 14px 0 14px 0;
}
h2 {
  font-size: 1.21428571rem;
}
i.icon.layout:before {
  font-size: 14px !important;
}
span#zf-name {
  color: #91BE3F;
}
#page,
footer {
  width: 40%;
  margin: auto;
  border: 1px solid #ccc;
}
#page > section,
footer > section {
  padding: 0 10px 0 10px;
}
header {
  color: #FFFFFF;
  width: auto;
  min-height: 100px;
  text-align: center;
  overflow: hidden;
}
header .demo-header {
  background-image: url("../img/bkg_header.jpg");
}
header .ui.menu {
  margin: 0;
  border-left: none;
  border-right: none;
  border-radius: 0;
  font-size: 14px;
}
div#more-information {
  background-image: url("../img/bkg_body-bottom.gif");
  height: 100%;
}
table {
  margin: 20px 0 15px 0 !important;
}
table th,
table td {
  padding: 5px !important;
}
table th {
  cursor: pointer !important;
}
table.dataTable.no-footer {
  border-bottom: 1px solid rgba(34,36,38,0.1) !important;
}
footer {
  margin-top: 15px;
  border: none;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline;
  list-style: none;
}
footer ul li::after {
  content: " | ";
}
footer ul li:last-child::after {
  content: "";
}
footer ul li a {
  text-decoration: none;
}
footer ul li a:hover {
  text-decoration: underline;
}
input[type=submit] {
  background: #4285f4;
  border: 1px solid #ddd;
  padding: 8px;
  color: #fff;
  border-radius: 5px;
}
#submit-element {
  text-align: right;
}
#DataTable_wrapper #dataTables_length,
#DataTable_wrapper #DataTable_filter {
  margin-bottom: 10px;
}
#DataTable_wrapper #DataTable_info,
#DataTable_wrapper #DataTable_paginate {
  margin-bottom: 30px;
}
#DataTable_wrapper #DataTable_info .paginate_button:hover,
#DataTable_wrapper #DataTable_paginate .paginate_button:hover {
  border: none !important;
}
.ui.pagination.menu {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
  font-size: 12px !important;
}
.ui.pagination.menu .item {
  padding: 0.5em 1em !important;
}
.ui.pagination.menu .item.active {
  padding: 0.5em 1em;
  border: none !important;
  color: #000000;
}
.ui.pagination.menu .item.disabled,
.ui.pagination.menu .item.disabled:hover {
  cursor: default;
  background-color: transparent !important;
  color: rgba(40,40,40,0.3) !important;
}
.ui.grid>.row {
  padding: 0 !important;
}
.ui.grid>.row table {
  margin-top: 0 !important;
}
.ui.selection.dropdown {
  min-width: 30px !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid rgba(34,36,38,0.15) !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-animation-name: autofill !important;
  -webkit-animation-fill-mode: both !important;
}
.ui.input input::-moz-placeholder {
  color: rgba(115,115,115,0.87);
}
.ui.input input:focus::-moz-placeholder {
  color: initial;
}
.ui.input input.border-focus {
  border-bottom: 2px solid #4285f4 !important;
}
